.pagination {
	margin-top: 1em;
}

.w-75 {
    width: 83.4% !important;
}

button.btn:active{
	background: #007bff;
}

#adherants{
	top: -200px;
	height: 1024px;
    max-width: 100%;
    margin-top: 2em;
    padding-top: 12em;
    position:relative;
	margin-bottom: -14.5em;
	background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(/images/t2.jpg);
}

@media (min-width: 768px){
  #adherants {
    top: -200px;
    height: 1024px;
    max-width: 100%;
    padding-top: 12em;
    position:relative;
    margin-bottom: -10em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/t2.jpg);
  }
}
@media (min-width: 992px){
  #adherants {
    top: -200px;
    height: 1024px;
    max-width: 100%;
    padding-top: 12em;
    position:relative;
    margin-bottom: -10em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/t2.jpg);
  }
}
@media (min-width: 1200px){
  #adherants {
    top: -200px;
    height: 1024px;
    max-width: 100%;
    padding-top: 12em;
    position:relative;
    margin-bottom: -10em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/t2.jpg);
  }
}

#creatAdhe{
    padding-top: 2em;
}