html, body, #app{
    height: 100%;
}

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #00B0FF;
  /*transition: 0.5s;*/
}
a:hover, a:active, a:focus {
  color: #00B0FF;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*------------------------------------------------------------*/
/*                            nav                             */
/*------------------------------------------------------------*/
.navbar-laravel{
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-laravel a{
  padding: 4px 15px 8px;
  display: inline-block;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-laravel a:hover{
  color: #00B0FF;
  padding-left: 10px;
  border-left: 4px solid #00B0FF;
  height: 31.5px;
}

#logout, a:hover {
  color: #00B0FF !important;
}

@media (max-width: 767.98px){
  .navbar-laravel a {
    padding: initial;
  }
}

.navbar-light .navbar-toggler-icon{
  background-image: url(/images/navbar_icon.png)!important;
}

/*------------------------------------------------------------*/
/*                      Home Section                          */
/*------------------------------------------------------------*/
/*.pt-4, .py-4 {
  padding-top: 0!important; 
}*/

#home_container{
  top: -200px;
  height: 1024px;
  max-width: 100%;
  padding-top: 12em;
  position:relative;
  margin-bottom: -14.5em;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/images/t2.jpg);
}

@media (min-width: 768px){
  #home_container {
    top: -200px;
    height: 1024px;
    max-width: 100%;
    padding-top: 12em;
    position:relative;
    margin-bottom: -10em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/t2.jpg);
  }
}
@media (min-width: 992px){
  #home_container {
    top: -200px;
    height: 1150px;
    max-width: 100%;
    padding-top: 12em;
    position:relative;
    margin-bottom: -10em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/t2.jpg);
  }
}
@media (min-width: 1200px){
  #home_container {
    top: -200px;
    height: 1024px;
    max-width: 100%;
    padding-top: 12em;
    position:relative;
    margin-bottom: -10em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/images/t2.jpg);
  }
}

#reserve{
  padding-top: 2em;
}

/*------------------------------------------------------------*/
/*                   Contact-us Section                       */
/*------------------------------------------------------------*/
#contact {
  padding: 2em 0 0;
  /* height: 51em; */
}
#contact .contact-info {
  /* margin-bottom: 20px; */
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #00B0FF;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #00B0FF;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0091EA;
  bottom: 0;
  left: calc(50% - 20px);
}

/*------------------------------------------------------------*/
/*                       Footer Section                       */
/*------------------------------------------------------------*/
#footer {
  color: white;
  font-size: 14px;
  background: white;
  padding: 0 0 15px 0;
}

#footer .footer-top {
  background: white;
  padding: 30px 0 20px 0;
}

#footer .container{
  text-align: center;
}

#footer .footer-top .social-links{
  margin-left: auto;
  margin-right: auto;
}

/*#footer .footer-top .social-links a {
  color: #eee;
  width: 36px;
  height: 36px;
  line-height: 1;
  padding: 8px 0;
  font-size: 18px;
  transition: 0.3s;
  background: #857979;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}*/

.fa {

  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.copyright{
  color: black;
}






/*#footer .footer-top .social-links a:hover {
  color: #fff;
  background: #00B0FF;
}*/
